name: 'coverage'
on:
  pull_request:
    branches:
        - main
jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
      checks: "write"
    steps:
      - uses: actions/checkout@v3
      - uses: ArtiomTr/jest-coverage-report-action@v2
