name: 'docs'
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm ci
      - name: Build JSDoc Documentation
        run: npm run docs
      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: jsdoc-documentation
          path: jsdoc-out/
          retention-days: 90
